/local.properties
/repositories.properties
/signing.properties

plugins

.idea
!/.idea/codeStyles
!/.idea/codeStyles/*


*.iml
platforms/android/.idea/*
platforms/android/.idea
**/*.iml
build
*.apk

/build
/app/build
/captures
projectFilesBackup/
.project
/.settings

.gradle/*
.gradle-cache/*
buildSrc/.gradle/

.history
