/local.properties
/repositories.properties
/signing.properties

plugins

.idea
!/.idea/codeStyles
!/.idea/codeStyles/*


*.iml
platforms/android/.idea/*
platforms/android/.idea
**/*.iml
build
*.apk

.gradle
.DS_Store
/build
/app/build
/captures
projectFilesBackup/
.project
/.settings
