/local.properties
/repositories.properties
/signing.properties

plugins

*.iml
platforms/android/.idea/*
platforms/android/.idea
**/*.iml
build
*.apk

.gradle
/.idea
.DS_Store
/build
/app/build
/captures
.idea
projectFilesBackup/
.project
/.settings
